@font-face {
  font-family: 'iconFont';
  src:
    url("iconFont.ttf") format('truetype'),
    url("iconFont.woff") format('woff'),
    url("iconFont.svg") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.if {
  font-family: 'iconFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.if-icon-address:before {
  content: "\e900";
}
.if-icon-advantage01:before {
  content: "\e901";
}
.if-icon-advantage02:before {
  content: "\e902";
}
.if-icon-advantage03:before {
  content: "\e903";
}
.if-icon-advantage04:before {
  content: "\e904";
}
.if-icon-advantage05:before {
  content: "\e905";
}
.if-icon-arrowLeft:before {
  content: "\e906";
}
.if-icon-arrowRight:before {
  content: "\e907";
}
.if-icon-envelope:before {
  content: "\e908";
}
.if-icon-facebook:before {
  content: "\e909";
}
.if-icon-phone:before {
  content: "\e90a";
}
.if-icon-twitter:before {
  content: "\e90b";
}
.if-icon-vk:before {
  content: "\e90c";
}
.if-icon-youtube:before {
  content: "\e90d";
}