[class *='indial-window'] { line-height: 1; }

[class *='indial-window'], [class *='indial-window'] *, [class *='indial-window'] *:before, [class *='indial-window'] *:after {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #000;
}


/* :root { */
  /* --intdial-main: #215fdc; */
  /* --intdial-main-hov: #366ee1; */
  /* --intdial-alt: #e3ecff; */
  /* --intdial-default: #8798a9; */
  /* --intdial-default-hov: #aec0d4; */
  /* --intdial-separator: #dae0e4; */
  /* --intdial-alert: #fd6568; */
  /* --widget-color: #fff; */
  /* --widget-eyes-color: #215fdc; */
  /* --widget-hint-color: #222222; */
  /* --widget-bg-color: #fff; */
  /* --widget-text-color: #000; */
/* } */

/* indial */ 

.intdial-link {
  text-decoration: none;
  bottom: 3rem;
  text-align: center;
}

.indial-window-popup,
.indial-window-widget,
.indial-window-widgetNew,
.indial-window-landS,
.indial-window-landM,
.indial-window-landL,
.indial-window-timer {
  position: fixed;
  z-index: 9999;
}
.indial-window-landS,
.indial-window-landM,
.indial-window-landL {
  width: 100%;
  height: 100%;
  top: 0;
}
.indial-window-block {
  display: flex;
  justify-content: center;
}
.indial-window-popup,
.indial-window-timer {
  left: 20px;
  bottom: 20px;
  cursor: pointer;
}
.indial-window-widget,  .indial-window-widgetNew{
  bottom: 0px;
  right: 20px;
  cursor: pointer;
}
.indial-window-widget.indial-window-widget--left {
  bottom: 0px;
  width: 300px;
  left: 20px;
  right: unset;
  cursor: pointer;
}
.intdial-container--widget {
  max-width: 340px;
  display: flex;
  flex-direction: column;
}
.intdial-container--widget.intdial-container--popup {
  max-width: 300px;
}
.intdial-container--land {
  height: 100vh;
  background-color: #fff;
  max-width: unset;
  overflow-x: hidden;
  overflow-y: auto;
}

.intdial-container--popup .intdial-widget__close,
.intdial-container--popup .intdial-widget__main {
  background-color: #fff;
}
.intdial-widget__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2), 0 2rem 10rem rgba(0,0,0,.4);
}
.intdial-widget__close {
  margin: 1rem 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  background-color: #fff;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1), 0 2rem 10rem rgba(0,0,0,.3);
}
/*s*/
.intdial-widget__close:before {
  content: 'x';
  font-size: 3rem;
  height: 3.9rem;
  line-height: 1;
}
.intdial-widget__image {
  width: 100%;
  max-height: 320px;
  overflow: hidden;
}
.intdial-widget__image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.intdial-widget__desc {
  font-size: 20px;
  margin: 1.5rem 0;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: #000;
  padding: 0 15px;
}
.intdial-widget__call {
  text-align: left; 
  margin: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  color: #000;
}
.intdial-widget__title {
  font-size: 3rem;
  margin: 1rem 0;
  color: #000;
}
.intdial-widget__call:before,
.intdial-widget__call:after {
  content: '';
  align-self: center;
  position: absolute;
  top: 6px;
  right: calc(100% + 8px);
  left: unset;
  width: 320px;
  height: 1px;
  background-color: #000;
  display: block;
  z-index: 0;
}
.intdial-widget__call:after {
  left: calc(100% + 8px);
  right: unset;
}
.intdial-widget__action {
  /* width: 100%; */
  max-width: 300px;
  display: flex;
  color: #000;
}
.intdial-widget__add {
  padding: 0.8rem;
  /* padding: 1rem; */
  font-size: 0.8rem;
  color: #000;
}
.intdial-land__row {
  display: flex;
  height: 100%;
  padding: 6rem 12rem;
  background-color: #fff;
}

.intdial-land__row .intdial-widget__add{
    padding: 0;
    padding-bottom: 10px;
}

.intdial-land__col {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding-left: 50px;
}

.intdial-land__row--l .intdial-land__col{
    padding: 0; 
}

.intdial-land__col:nth-child(1) {
    padding: 2rem;
    z-index: 1;
    /*padding-left: 3rem;*/
}
.intdial-land__col--image {
  width: 100%;
  height: 100%;
  flex: 1.5;
  overflow: hidden;
}
.intdial-land__col--image img {
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.indial-window-landS .intdial-land__col--image img,
.indial-window-landM .intdial-land__col--image img {
  width: unset;
  height: 100%;
  object-fit: contain;
}
.intdial-land__row--m {
  padding: 0;
}
.intdial-land__row--m .intdial-land__col--image {
  flex: 2;
  align-items: flex-end;
}
.intdial-land__row--l {
  padding: 0;
  position: relative;
}
.intdial-land__row--l .intdial-land__col--image {
  position: absolute;
  z-index: 0;
}
.intdial-land__row--l .intdial-land__col:nth-child(1) {
  background-color: #000a;
  text-align: center;
  align-items: center;
}
.intdial-land__row--l .intdial-widget__desc,
.intdial-land__row--l .intdial-widget__call,
.intdial-land__row--l .intdial-widget__add {
  color: #fff;
}
.intdial-land__row--l .intdial-widget__title {
  color: #fff;
}
.intdial-land__col .intdial-widget__call:before,
.intdial-land__col .intdial-widget__call:after {
  content: unset;
}
.intdial-widget__timer {
  display: flex;
}
.intdial-timer__item--d,
.intdial-timer__item--h,
.intdial-timer__item--m,
.intdial-timer__item--s {
  margin: 0.7rem;
  padding: 0.5rem 0.5rem 2rem;
  font-size: 2.2rem;
  border-radius: 1rem;
  position: relative;
  background-color: #215fdc;
  color: #fff;
}
.intdial-timer__item--d:before,
.intdial-timer__item--h:before,
.intdial-timer__item--m:before,
.intdial-timer__item--s:before {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  color: #fff;
}
.intdial-timer__item--d:after,
.intdial-timer__item--h:after,
.intdial-timer__item--m:after {
  content: ':';
  right: -1rem;
  position: absolute;
  font-size: 2.2rem;
}
.intdial-timer__item--d:before {
  content: 'дн';

}
.intdial-timer__item--h:before {
  content: 'ч';
}
.intdial-timer__item--m:before {
  content: 'мин';
}
.intdial-timer__item--s:before {
  content: 'сек';
}
@media(max-width: 1280px) {
  .intdial-land__row {
    padding: 4rem;
  }
  .intdial-land__row--l {
    padding: 0;
  }
}
@media(max-width: 1024px) {
  .intdial-land__row {
    padding: 0;
    flex-direction: column;
  }
  .intdial-land__col:nth-child(2) {
    order: -1;
  }
  .intdial-widget__action {
    /* width: 100%; */
    max-width: 300px;
    flex-shrink: 0;
    justify-content: center;
  }
  .intdial-land__col:nth-child(1) {
    justify-content: flex-start;
    text-align: center;
  }
  .intdial-land__row--l .intdial-land__col:nth-child(1) {
    justify-content: center;
  }
  .intdial-land__col--image,
  .intdial-land__row--m .intdial-land__col--image {
    flex: 1;
    align-items: center;
  }
  .intdial-land__col:nth-child(1) {
    padding: 1rem;
  }
  .intdial-widget__desc {
    margin: 1rem;
  }
  .intdial-widget__title {
    margin: 1rem;
    font-size: 2rem;
  }
}

/* messenger */
[class*="intdial-icon--"] {
  background: url("") center center no-repeat;
  background-size: contain;
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.intdial-icon--vkontakte {
  background-image: url("") !important;
}
.intdial-icon--viber {
  background-image: url("") !important;
}

.intdial-icon--instagram {
  background-image: url("") !important;
}
.intdial-icon--telegram {
  background-image: url("") !important;
}
.intdial-icon--whatsapp {
  background-image: url("") !important;
}


/* widget */

.widget__container {
  position: relative;
  bottom: 20px;
  height: 20px;
  pointer-events: auto;
}
.widget__icon {
  width: 70px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 10px;
  border-radius: 50px 50px 0;
  background-color: #fff;
  box-shadow: 0 2px 8px #8798a9, 0 8px 14px #8798a9;
  /* box-shadow: 0 2px 30px #000; */
  z-index: 1;
}
.widget__tail {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
}
.widget__tail:after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}
.widget__hint {
  padding: 10px 20px;
  position: absolute;
  right: 50px;
  bottom: 30px;
  width: 240px;
  border-radius: 30px;
  background-color: #222222;
  color: #fff;
  z-index: 0;
}
.widget__hint.dark {
  color: #000;
}
.widget__hint input {
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted;
  width: 100%;
  color: #fff;
  outline: none;
}
.widget__hint input::placeholder {
  color: var(--alt);
}

.indial-window-widget--left .widget__container {
   transform: scale(-1, 1);
}

.indial-window-widget--left .widget__hint {
  right: 60px;
  transform: scale(-1, 1);
}

.widget__eyes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  height: 40px;
  background-color: #215fdc;
  visibility: hidden;
}
.widget__eyes:before {
  content: '';
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 8px;
  visibility: visible;
  background-color: inherit;
}
.widget__eyes:after {
  content: '';
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 8px;
  visibility: visible;
  background-color: inherit;
}
.widget__container.animated .widget__eyes:before,
.widget__container.animated .widget__eyes:after {
  position: relative;
  animation: blink 6s infinite;
}
@keyframes blink {
  18% {
    height: 12px;
  }
  20% {
    height: 0;
  }
  22% {
    width: 12px;
    height: 12px;
  }
  24% {
    height: 0;
  }
  26% {
    width: 12px;
    height: 12px;
  }
  65%{
    right: 0;
  }
  66% {
    right: 6px;
  }
  76% {
    right: 6px;
  }
  78% {
    right: -6px;
  }
  88% {
    right: -6px;
  }
  90% {
    right: 0;
  }
}

/* Spiner */

@keyframes lds-spin {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes lds-spin {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.overlay {
  display: none
}
.overlay.active {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-spin div > div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #215fdc;
  -webkit-animation: lds-spin 1.9s linear infinite;
  animation: lds-spin 1.9s linear infinite;
}
.lds-spin div:nth-child(1) > div {
  left: 140px;
  top: 80px;
  -webkit-animation-delay: -1.6625s;
  animation-delay: -1.6625s;
}
.lds-spin > div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 160px 100px;
  transform-origin: 160px 100px;
}
.lds-spin div:nth-child(2) > div {
  left: 122.42640685999999px;
  top: 122.42640685999999px;
  -webkit-animation-delay: -1.425s;
  animation-delay: -1.425s;
}
.lds-spin > div:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 142.42640686px 142.42640686px;
  transform-origin: 142.42640686px 142.42640686px;
}
.lds-spin div:nth-child(3) > div {
  left: 80px;
  top: 140px;
  -webkit-animation-delay: -1.1875s;
  animation-delay: -1.1875s;
}
.lds-spin > div:nth-child(3) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100px 160px;
  transform-origin: 100px 160px;
}
.lds-spin div:nth-child(4) > div {
  left: 37.57359314px;
  top: 122.42640685999999px;
  -webkit-animation-delay: -0.95s;
  animation-delay: -0.95s;
}
.lds-spin > div:nth-child(4) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform-origin: 57.57359314px 142.42640686px;
  transform-origin: 57.57359314px 142.42640686px;
}
.lds-spin div:nth-child(5) > div {
  left: 20px;
  top: 80px;
  -webkit-animation-delay: -0.7125s;
  animation-delay: -0.7125s;
}
.lds-spin > div:nth-child(5) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 40px 100px;
  transform-origin: 40px 100px;
}
.lds-spin div:nth-child(6) > div {
  left: 37.57359314px;
  top: 37.57359314px;
  -webkit-animation-delay: -0.475s;
  animation-delay: -0.475s;
}
.lds-spin > div:nth-child(6) {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transform-origin: 57.57359314px 57.57359314px;
  transform-origin: 57.57359314px 57.57359314px;
}
.lds-spin div:nth-child(7) > div {
  left: 80px;
  top: 20px;
  -webkit-animation-delay: -0.2375s;
  animation-delay: -0.2375s;
}
.lds-spin > div:nth-child(7) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 100px 40px;
  transform-origin: 100px 40px;
}
.lds-spin div:nth-child(8) > div {
  left: 122.42640685999999px;
  top: 37.57359314px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spin > div:nth-child(8) {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  -webkit-transform-origin: 142.42640686px 57.57359314px;
  transform-origin: 142.42640686px 57.57359314px;
}
.lds-spin div:nth-child(9) > div {
  left: 140px;
  top: 80px;
  -webkit-animation-delay: 0.2375s;
  animation-delay: 0.2375s;
}
.lds-spin > div:nth-child(9) {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transform-origin: 160px 100px;
  transform-origin: 160px 100px;
}
.lds-spin {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/* VK */

.form {
  padding: 10px 0;
  text-align: center
}
.form .btn {
  border-radius: 5px;
}
.form select {
  border-radius: 5px;
  padding: .5rem 1rem;
  border: 1px solid #428BCA;
}

.widget-vk {
  width: 100%;
  max-width: 650px;
  height: 686px;
  background-color: #bbbbbb;
}

.intdial-container--vk {
  height: 100%;
  background-color: #ffffff;
  width: 100%;
  max-width: 650px;
  overflow: hidden;
}
.image-vk {
  width: 100%;
  /* max-height: 230px; */
  padding: 0;
  background-color: #ffffff;
  overflow: hidden;
}
.image-vk img {
  width: 100%;
}
.row-vk {
  height: min-content;
  padding: 0;
  justify-content: center;
  display: flex;
  background-color: #ffffff;
}
.col-vk {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.desc-vk {
  height: min-content;
}
.col-btn-vk {
  max-width: 150px;
  align-items: center;
}
.btn-vk {
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: wrap;
  word-break: break-all;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer
}
.btn-primary-vk {
  color: #fff;
  background-color: #428BCA;
  border-color: #428BCA;
}
.btn-primary-vk:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.btn-danger-vk {
  color: #f56666;
  background-color: #ffffff;
  border-color: #f56666;
}
.btn-danger-vk:hover {
  color: #f31f1f;
  background-color: #fff;
  border-color: #f31f1f;
}


.indial-window-widgetNew {
    bottom: 20px;
    right: 40px;
}

.indial-window-widgetNew .intdial-container--widget{
    align-items: center;
}

.indial-window-widgetNew .intdial-widget__close{
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba(14, 21, 47, 0.03) 0px -2px 6px, rgba(14, 21, 47, 0.13) 0px 6px 18px;
    right: 0px;
    left: initial;
    bottom: 20px;
    background: url("close2.png") 64% 59% / 250% white;
    align-self: auto;
}

.indial-window-widgetNew .intdial-widget__close:before{
    display: none;
}

.indial-window-widgetNew [class*="intdial-icon--"] {
    display: block;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.063) 0px 0px 2px;
    cursor: pointer;
}

.indial-window-widgetNew .intdial-icon--vkontakte{
    background-image:  url("vk.svg") !important;
}

.indial-window-widgetNew .intdial-icon--facebook{
    background-image:  url("facebook.svg") !important;
}

.indial-window-widgetNew .intdial-icon--viber{
    background-image:  url("viber.svg") !important;
}

.indial-window-widgetNew .intdial-icon--instagram{
    background-image:  url("instagram.svg") !important;
}

.indial-window-widgetNew .intdial-icon--whatsapp{
    background-image:  url("whatsapp.svg") !important;
}

.indial-window-widgetNew .intdial-widget__main{
    background: transparent !important;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.indial-window-widgetNew .intdial-widget__action{
    flex-direction: column;
}

.indial-window-widgetNew .widget__icon{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    left: initial;
    bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: url("tail.svg") white;
    box-shadow: rgba(14, 21, 47, 0.03) 0px -2px 6px, rgba(14, 21, 47, 0.13) 0px 6px 18px;
}

.indial-window-widgetNew.indial-window-widget--left {
    bottom: 20px;
    right: auto;
    left: 20px;
    cursor: pointer;
}

.indial-window-widgetNew .indial-window-widget--left .widget__container {
  transform: scale(-1, 1);
}

.indial-window-widgetNew .indial-window-widget--left .widget__hint {
  right: auto;
  transform: scale(-1, 1);
}

.indial-window-widgetNew .widget__tail{
    display: none;
}

.indial-window-widgetNew .widget__eyes{
    display: none;
}

.indial-window-leeloo, .indial-window-videoWidget{
    position: fixed; 
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    -webkit-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,1px);
}

.indial-window-videoWidget.indial-window-widget--left{
    right: auto;
    left: 30px;
}

.indial-window-leeloo .intdial-container--widget{
    width: auto;
    max-width: 450px;
    position: relative;
}

.indial-window-leeloo .intdial-widget__action>a{
    margin: 0;
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 24px 24px; 
    padding: 5px;
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
}

.indial-window-leeloo .intdial-widget__action>a:hover {
    filter: brightness(110%);
}

.indial-window-leeloo .intdial-icon--vkontakte{
    background-color: #597ba0;
    background-image:  url("") !important;
}

.indial-window-leeloo .intdial-icon--facebook{
    background-color: #41a5fc;
    background-image:  url("") !important;
}

.indial-window-leeloo .intdial-icon--telegram{
    background-color: #20b1f5;
    background-image:  url("") !important;
}

.indial-window-leeloo .intdial-icon--viber{
    background-color: #742ea6;
    background-image:  url("") !important;
}

.indial-window-leeloo .intdial-icon--whatsapp{   
    background: #25d365;
    background-image:  url("") !important;
}

.indial-window-leeloo .intdial-icon--instagram{    
    position: relative;
    background-image: none !important;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important; 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) !important; 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) !important;
}
.indial-window-leeloo .intdial-icon--instagram:before{   
    position: absolute;
    background-image:  url("") !important;
    content: '';
    top: 10px;
    left: 50%;
    margin-left: -13px;
    width: 26px;
    height: 26px;
}

.indial-window-leeloo .intdial-widget__desc{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    padding: 15px 25px; 
    width: 100%;
}

.indial-window-leeloo .intdial-widget__call{
    width: 100%;
    padding: 0 25px; 
}


.indial-window-leeloo .intdial-widget__main{
    background: #fff;
    border-radius: 15px;
    padding-bottom: 30px;
}

.indial-window-leeloo .intdial-widget__action{
    padding: 0;
    margin: 15px;
    margin-bottom: 5px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    max-width: none; 
}

.indial-window-leeloo .widget__eyes,
.indial-window-leeloo .widget__tail,
.indial-window-leeloo .widget__eyes:after,
.indial-window-leeloo .widget__eyes:before{
    display: none;
}

.indial-window-leeloo .widget__icon{
    padding: 14px 22px;
    border-radius: 26px;
    border: 0;
    box-shadow: 0 10px 25px rgba(0,0,0,.2);
    cursor: pointer;
    animation-name: puls;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-color: #008bff!important;
    color: #f4f0f0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    width: auto;
    height: auto;
    max-width: 100%;
    display: inline-block;
    position: relative;
}
 
.action-title{
    display: none;
}

.indial-window-leeloo .action-title{
    display: block;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    display: inline-block;
}

.indial-window-leeloo .intdial-widget__close{
    position: absolute;
    bottom: 5px;
    left: 15px;
    box-shadow: none;
    background: transparent;
    width: 20px;
    height: 20px;
    margin: 0;
    display: none;
}

.indial-window-leeloo .intdial-widget__close:before, 
.indial-window-leeloo .intdial-widget__close:after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 2px;
    height: 100%;
    transform: rotate(45deg);
    background: #000000A1;
}

.indial-window-leeloo .intdial-widget__close:after{
    transform: rotate(-45deg);
}

 @keyframes puls {
    0% {
        box-shadow: 0 0 0 0 #008bff, 0 10px 25px rgba(0,0,0,.2);
    }
        60% {
            box-shadow: 0 0 0 0 #008bff, 0 10px 25px rgba(0,0,0,.2);
    }
        70% {
            box-shadow: 0 0 0 2px #008bff, 0 12px 28px rgba(0,0,0,.24);
    }
        75% {
            box-shadow: 0 0 0 1px #008bff, 0 12px 28px rgba(0,0,0,.24);
    }
        87% {
            box-shadow: 0 0 0 14px transparent, 0 14px 34px rgba(0,0,0,.34);
    }
        94% {
            box-shadow: 0 0 0 0 transparent, 0 12px 28px rgba(0,0,0,.24);
    }
        100% {
            box-shadow: 0 0 0 0 #008bff, 0 10px 25px rgba(0,0,0,.24);
    }
}


.poweredby{
    width: 100%; 
    font-size: 11px;
    font-weight: 300;
    color: #7e7e7e;
    text-align: right;
    padding: 5px 20px;
}

.poweredby a{
    font-size: 11px;
    color: #7e7e7e;
}

.indial-window-widgetNew .poweredby{
    padding: 0;
    width: 120%;
    position: absolute;
    bottom: 0;
}

.indial-window-leeloo .widget__hint{
    display: none !important;
}

.indial-window-leeloo.indial-window-widget--left .widget__container{
    transform: none; 
}

.indial-window-leeloo.indial-window-widget--left{
    right: auto;
    left: 30px; 
}

.buttonsSelect-item{
    display: flex;
    position: relative;
    cursor: pointer;
}

/* 
    Buttons  styles
*/ 

/*
    default
*/

.button-type-default .widget-icon-title{
    display: none;
}

.button-type-default [class*="widget-icon-"] {
    background: url("") center center no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    cursor: pointer;
    flex-shrink: 0;
    margin: 0;
    margin-right: 10px;
}

.button-type-default .widget-icon-vkontakte {
    background-image: url("") !important;
}
.button-type-default .widget-icon-viber {
    background-image: url("") !important;
}
.button-type-default .widget-icon-instagram {
    background-image: url("") !important;
}
.button-type-default .widget-icon-telegram {
    background-image: url("") !important;
}
.button-type-default .widget-icon-whatsapp {
    background-image: url("") !important;
}
.button-type-default .widget-icon-widget {
  background-image: url("") !important;
}


/*
    flat
*/


.button-type-flat [class*="widget-icon-"] {
    display: block;
    margin: 0;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    box-shadow: none;
    cursor: pointer;
}


.button-type-flat .widget-icon-title{
    display: none;
}

.button-type-flat .widget-icon-telegram{
    background-image:  url("telegram.svg") !important;
}

.button-type-flat .widget-icon-vkontakte{
    background-image:  url("vk.svg") !important;
}

.button-type-flat .widget-icon-facebook{
    background-image:  url("facebook.svg") !important;
}

.button-type-flat .widget-icon-viber{
    background-image:  url("viber.svg") !important;
}

.button-type-flat .widget-icon-instagram{
    background-image:  url("instagram.svg") !important;
}

.button-type-flat .widget-icon-whatsapp{
    background-image:  url("whatsapp.svg") !important;
}
.button-type-default .widget-icon-widget {
  background-image: url("") !important;
}

.indial-window-widgetNew .button-type-flat [class*="widget-icon-"],
.indial-window-widgetNew .button-type-default [class*="widget-icon-"] {
    width: 50px;
    height: 50px;
    margin: 0;
    margin-bottom: 15px;
}

.indial-window-widgetNew .buttonsSelect-item{
    margin-bottom: 5px;
    width: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: none;
    flex-direction: column;
}

.indial-window-leeloo .buttonsSelect-item{
    margin: 15px;
    margin-bottom: 5px;
    width: auto;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    max-width: none;
}

.indial-window-widget .buttonsSelect-item{
    padding: 15px;
}

/*
    leeloo
*/

.indial-window-widgetNew>[class*="widget-icon-"]{
    margin-bottom: 15px !important;
}

.indial-window-widgetNew .button-type-leeloo{
    border-radius: 5px;
}

.button-type-leeloo>[class*="widget-icon-"] {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 24px 24px; 
    padding: 5px;
    width: 80px; 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    flex-shrink: 0;
}

.intdial-widget__main .button-type-leeloo>[class*="widget-icon-"]{
    margin: 0 !important;
    padding: 5px;
    width: 80px; 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    text-decoration: none;
}
 
.button-type-leeloo{
    margin: 15px;
    padding: 0 !important;
    border-radius: 5px;
}

[class*="widget-icon-"]{
    text-decoration: none;
}

[class*="widget-icon-"]:hover { 
    filter: brightness(110%);
}

.button-type-leeloo .widget-icon-vkontakte{
    background-color: #597ba0;
    background-image:  url("") !important;
}

.button-type-leeloo .widget-icon-facebook{
    background-color: #41a5fc;
    background-image:  url("") !important;
}

.button-type-leeloo .widget-icon-telegram{
    background-color: #20b1f5;
    background-image:  url("") !important;
}

.button-type-leeloo .widget-icon-viber{
    background-color: #742ea6;
    background-image:  url("") !important;
}

.button-type-leeloo .widget-icon-whatsapp{   
    background-color: #25d365;
    background-image:  url("") !important;
}

.button-type-leeloo .widget-icon-instagram{    
    position: relative;
    background-image: none !important;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important; 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) !important; 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) !important;
}

.button-type-leeloo .widget-icon-instagram:before{   
    position: absolute;
    background-image:  url("") !important;
    content: '';
    top: 10px;
    left: 50%;
    margin-left: -13px;
    width: 26px;
    height: 26px;
}

.button-type-leeloo .widget-icon-title{
    color: #fff;
    font-size: 12px;
    width: auto;
    height: auto;
    margin: 0;
}
 
.intdial-container--land .buttonsSelect-item{
    padding: 0 !important; 
    margin: 20px 0 !important;
} 

.intdial-container--widgetNew .button-type-flat>[class*="widget-icon-"],
.intdial-container--widgetNew .button-type-default>[class*="widget-icon-"],
.intdial-container--widget.widget .button-type-flat>[class*="widget-icon-"],
.intdial-container--widget.widget .button-type-default>[class*="widget-icon-"]{
    width: 50px;
    height: 50px;
}


.intdial-container--widgetNew .button-type-leeloo>[class*="widget-icon-"] {
    margin-bottom: 0;
}

.intdial-container--widget.widget .buttonsSelect-item,
.intdial-container--widget .buttonsSelect-item{
    padding: 15px;
    border: none;
}

.intdial-container--widget.widget .button-type-leeloo>[class*="widget-icon-"] {
    margin: 0;
}

.button-type-leeloo{
    border-radius: 10px;
    overflow: hidden;
}

.button-type-rounded>[class*="widget-icon-"],
.button-type-rounded-white>[class*="widget-icon-"],
.button-type-flat-white>[class*="widget-icon-"]{
    display: block;
    margin: 0;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    box-shadow: none;
    cursor: pointer;
}

.button-type-rounded-white>[class*="widget-icon-"],
.button-type-flat-white>[class*="widget-icon-"]{
    background-size: 22px 22px;
    background-color: #fff;
    border: 1px solid #eee;
}

.button-type-rounded-white>[class*="widget-icon-"]{
    border-radius: 6px;
}

.button-type-flat-white>[class*="widget-icon-"]{
    border-radius: 50%;
}

.button-type-rounded [class*="widget-icon-"]:hover {
    filter: brightness(110%);
}

.button-type-rounded .widget-icon-vkontakte{
    background-image:  url("") !important;
}

.button-type-rounded .widget-icon-facebook{ 
    background-image:  url("") !important;
}

.button-type-rounded .widget-icon-telegram{  
    background-image:  url("") !important;
}

.button-type-rounded .widget-icon-viber{
    background-image:  url("") !important;
}

.button-type-rounded .widget-icon-whatsapp{   
    background-color: #25d366;
    border-radius: 7px;
    background-image:  url("") !important;
}

.button-type-rounded .widget-icon-instagram{    
    background-image:  url("") !important;
}

.button-type-rounded .widget-icon-title,
.button-type-rounded-white .widget-icon-title,
.button-type-flat-white .widget-icon-title{
    display: none;
}


.button-type-full>[class*="widget-icon-"],
.button-type-full-white>[class*="widget-icon-"], 
.button-type-full-round>[class*="widget-icon-"],
.button-type-full-round-white>[class*="widget-icon-"]{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: none;
    width: 240px;
    height: 50px;
    flex-shrink: 0;
    box-shadow: none;
    cursor: pointer; 
    border-radius: 6px; 
    max-width: 100%;
} 

.button-type-full-white>[class*="widget-icon-"],
.button-type-full-round-white>[class*="widget-icon-"]{
    border: 1px solid #eee;
    background: #fff;
}

.button-type-full-round>[class*="widget-icon-"],
.button-type-full-round-white>[class*="widget-icon-"]{
    border-radius: 30px;
}

.button-type-full>[class*="widget-icon-"]:not(:first-of-type), 
.button-type-full-white>[class*="widget-icon-"]:not(:first-of-type),
.button-type-full-round>[class*="widget-icon-"]:not(:first-of-type),
.button-type-full-round-white>[class*="widget-icon-"]:not(:first-of-type){
    display: none; 
}

.button-type-full .widget-icon-title,
.button-type-full-white .widget-icon-title,
.button-type-full-round .widget-icon-title,
.button-type-full-round-white .widget-icon-title{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.button-type-full-white .widget-icon-vkontakte .widget-icon-title,
.button-type-full-round-white .widget-icon-vkontakte .widget-icon-title{
    color: #4680C2;
}

.button-type-full-white .widget-icon-viber .widget-icon-title,
.button-type-full-round-white .widget-icon-viber .widget-icon-title{
    color: #7B519D;
}

.button-type-full-white .widget-icon-telegram .widget-icon-title,
.button-type-full-round-white .widget-icon-telegram .widget-icon-title{
    color: #2CA4D7;
}

.button-type-full-white .widget-icon-facebook .widget-icon-title,
.button-type-full-round-white .widget-icon-facebook .widget-icon-title{
    color: #2092F6;
}

.button-type-full-white .widget-icon-whatsapp .widget-icon-title,
.button-type-full-round-white .widget-icon-whatsapp .widget-icon-title{
    color: #25D366;
}

.button-type-full-white .widget-icon-instagram .widget-icon-title,
.button-type-full-round-white .widget-icon-instagram .widget-icon-title{
    color: #C53781;
}

.button-type-full>[class*="widget-icon-"]:before, 
.button-type-full-white>[class*="widget-icon-"]:before,
.button-type-full-round>[class*="widget-icon-"]:before,
.button-type-full-round-white>[class*="widget-icon-"]:before{
    content: '';
    width: 22px;
    height: 22px;
    background-image:  url("");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}

.button-type-full>.widget-icon-instagram:before,
.button-type-full-round>.widget-icon-instagram:before{
    background-image:  url("");
}

.button-type-full>.widget-icon-vkontakte:before,
.button-type-full-round>.widget-icon-vkontakte:before{
    background-image:  url("");
}

.button-type-full>.widget-icon-facebook:before,
.button-type-full-round>.widget-icon-facebook:before{
    background-image:  url("");
}

.button-type-full>.widget-icon-whatsapp:before,
.button-type-full-round>.widget-icon-whatsapp:before{
    background-image:  url("");
}

.button-type-full>.widget-icon-viber:before, 
.button-type-full-round>.widget-icon-viber:before,
.button-type-rounded-white>.widget-icon-viber:before,
.button-type-flat-white>.widget-icon-viber:before{
    background-image:  url("");
}


.button-type-full-white>.widget-icon-instagram:before,
.button-type-full-round-white>.widget-icon-instagram:before,
.button-type-rounded-white>.widget-icon-instagram,
.button-type-flat-white>.widget-icon-instagram{
    background-image:  url("");
}

.button-type-full-white>.widget-icon-vkontakte:before,
.button-type-full-round-white>.widget-icon-vkontakte:before,
.button-type-rounded-white>.widget-icon-vkontakte,
.button-type-flat-white>.widget-icon-vkontakte{
    background-image:  url("");
}

.button-type-full-white>.widget-icon-facebook:before,
.button-type-full-round-white>.widget-icon-facebook:before,
.button-type-rounded-white>.widget-icon-facebook,
.button-type-flat-white>.widget-icon-facebook{
    background-image:  url("");
}

.button-type-full-white>.widget-icon-telegram:before,
.button-type-full-round-white>.widget-icon-telegram:before,
.button-type-rounded-white>.widget-icon-telegram,
.button-type-flat-white>.widget-icon-telegram{
    background-image:  url("");
}

.button-type-full-white>.widget-icon-whatsapp:before,
.button-type-full-round-white>.widget-icon-whatsapp:before,
.button-type-rounded-white>.widget-icon-whatsapp,
.button-type-flat-white>.widget-icon-whatsapp{
    background-image:  url("");
}

.button-type-full-white>.widget-icon-viber:before, 
.button-type-full-round-white>.widget-icon-viber:before,
.button-type-rounded-white>.widget-icon-viber,
.button-type-flat-white>.widget-icon-viber{
    background-image:  url("");
}


[class*="widget-icon-"]:hover {
    filter: brightness(110%);
}

.button-type-full .widget-icon-vkontakte,
.button-type-full-round .widget-icon-vkontakte{
    background:  #4680C2 !important;
}

.button-type-full .widget-icon-facebook,
.button-type-full-round .widget-icon-facebook{ 
    background:  #1877F2 !important;
}

.button-type-full .widget-icon-telegram,
.button-type-full-round .widget-icon-telegram{  
    background: #2AA1D4 !important;
}

.button-type-full .widget-icon-viber,
.button-type-full-round .widget-icon-viber{
    background:  #7B519D !important;
}

.button-type-full .widget-icon-whatsapp,
.button-type-full-round .widget-icon-whatsapp{   
    background:  #25D366;
}

.button-type-full .widget-icon-instagram,
.button-type-full-round .widget-icon-instagram{    
    background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%), #FFFFFF;
}

.intdial-container--land [class*="button-type-full"]{
    width: auto !important; 
}

.indial-window-widgetNew [class*="button-type-full"]>[class*="widget-icon-"],
.intdial-container--land [class*="button-type-full"]>[class*="widget-icon-"]{
    display: flex !important;
    margin-bottom: 15px !important;
} 

.intdial-container--land [class*="button-type-full"]>[class*="widget-icon-"]{
    margin-right: 10px;
    margin-bottom: 10px; 
}

.intdial-land__row--u [class*="button-type-"]>[class*="widget-icon-"]{
    margin-right: 0;
}

[class*="button-type-"]>[class*="widget-icon-"]:last-of-type{
    margin-bottom:0 !important;
}

.intdial-container--land .buttonsSelect-item{
    padding: 10px;
    width: max-content;
}

.intdial-container--land [class*="button-type-full"]{
    padding: 10px;
    flex-wrap: wrap;
}

.intdial-land__row--m .intdial-land__col:nth-child(1){
    padding-left: 100px;
}

.indial-window-landS .intdial-container--land{
    background: #fff;
}

.widget__container.videobutton{
    width: 100px;
    height: 170px;
    border-radius: 15px;
    border: 2px solid #fff;
    transition: 0.3s all ease;
    background: rgb(238, 238, 238);
    overflow: hidden;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out 0s, width 0.3s ease-in-out 0s, height 0.3s ease-in-out 0s, bottom 0.3s ease-in-out 0s, border-color 0.2s ease-in-out 0s, opacity 1s ease-in-out 0s;
}

.widget__container.videobutton:hover{
    transform: scale(1.1);
    border: 2px solid #36f;
}

.widget__container.videobutton .widget__icon, 
.widget__container.videobutton .widget__tail{
    display: none;
}

.widget__container.videobutton video{
    position: relative; 
    z-index: 50;
    object-fit: fill;
    width: 100%;
    height: 100%;
} 

.video-loader{ 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background:  url("") no-repeat center;
    background-size: 50px 10px;
}

.indial-window-videoWidget .buttonsSelect-item{
    display: none;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: 100;
    justify-content: center;
    padding: 0 10px;
}


.indial-window-videoWidget .videobutton.open{
    width: 250px;
    height: 445px;
    position: relative;
    transition: 0.6s all ease;
}

.indial-window-videoWidget .videobutton.open:hover, 
.indial-window-videoWidget .videobutton{
    transform: scale(1);
}

.indial-window-videoWidget .videobutton.open .buttonsSelect-item{
    display: flex; 
}

.videobutton .button-type-leeloo{
    left: auto;
    right: auto;
}

.videobutton .poweredby,
.videobutton .video-title{
    display: none;
}

.videobutton.open .poweredby{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000044;
    z-index: 100;
    text-align: center;
    padding: 5px 0;
    display: block;
}

.videobutton.open .poweredby a{
    color: #fff;
}

.videobutton.open .video-title{
    position: absolute;
    color: #fff;
    bottom: 90px;
    left: 0;
    right: 0;
    background: #00000022;
    z-index: 100;
    text-align: center;
    padding: 8px 10px;
    font-size: 22px;
    display: block;
}

.videobutton .button-type-leeloo>[class*="widget-icon-"] {
    width: 70px;
    display: none;
}

.videobutton.open .button-type-leeloo>[class*="widget-icon-"]:nth-of-type(-n+3) {
    display: flex;
}

.intdial-land__row .intdial-widget__desc{
    padding: 0;
}

.indial-window-landU .intdial-container--widget{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intdial-land__row--u{
    flex-direction: column;
    max-width: 450px;
    padding: 0;
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 30px -6px rgba(0,0,0,.15);
    border-radius: 10px;
    height: auto;
}

.intdial-land__row--u .intdial-land__col:nth-child(1){
    padding: 15px 28px;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    flex: initial;
}

.intdial-land__row--u .intdial-widget__title{
    font-size: 22px;
    font-weight: 500;
    word-break: break-word;
    padding-bottom: 15px;
    margin: 0;
    width: 100%;
    line-height: normal;
}

.intdial-land__row--u .intdial-land__col--image{
    order: -1;
    padding: 0;
    height: auto;
    flex: initial;
}

.intdial-land__row--u .intdial-widget__call{
    padding-top: 15px;
    font-size: 16px;
    color: #5A5A5A;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.intdial-land__row--u .poweredby{
    padding: 5px 0;
    
}

.intdial-land__row--u .poweredby a{
    font-size: 11px;
}

.intdial-land__row--u .intdial-widget__desc{
    font-size: 16px;
    margin-top: 0;
    width: 100%;
    margin-bottom: 30px;
}

.intdial-land__row--u [class*="button-type-full"]{
    justify-content: center;
}

.intdial-land__row--u [class*="button-type-full"]:last-of-type{
    margin-bottom: 0;
}
.indial-form-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
}

.indial-form-group label{
    width: 30%;
    color: #797979;
    line-height: 1;
    font-weight: 400;
}

.indial-form-group input{
    width: 70%;
    -webkit-appearance: none;
    box-shadow: none;
    padding: 10px 15px;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 18px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    transition: .2s ease-in-out;
    color: #5a5a5a;
}

.indial-form-group input.is-invalid{
    border-color: #ff0d0d; 
}

.iti {
    width: 70%; 
}
.iti input{
    padding-left: 50px;
    width: 100%;
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag,
.iti__selected-flag{
    outline: none;
}

.videobutton [class*="button-type-full"]>a{
    width: 200px;
    height: 45px;
} 

@media(max-width: 576px) {
    .row-vk {
      flex-direction: column;
      align-items: center;
    }
    .desc-vk {
      text-align: center;
    }
    
    .intdial-container--land .intdial-widget__action{
        width: 100%;
        max-width: none;
    }
   
    .indial-window-leeloo .intdial-container--widget {
        width: auto;
        max-width: 320px;
    }
    
    .indial-window-leeloo .intdial-widget__action>a,
    .button-type-leeloo>[class*="widget-icon-"]{
        width: 70px;
        margin: 0;
    }
    .indial-window-leeloo .intdial-widget__close{
        display: block;
    }
    
    .button-type-leeloo>a {
        width: 60px !important;
    }
    
    .intdial-container--land .buttonsSelect-item{
        justify-content: center;
    }
    
    .intdial-land__row--m .intdial-land__col:nth-child(1), 
    .indial-window-landS .intdial-land__col:nth-child(1){
        padding-left: 1rem;
        align-items: center; 
    } 
    
    .intdial-land__row--m .intdial-land__col:nth-child(2){
        height: 350px;
    }
    
    .intdial-container--land .intdial-land__col:nth-child(2){
        padding-left: 0;
    }
    
    .intdial-land__col:nth-child(1) {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .intdial-land__row--u .intdial-land__col:nth-child(1) {
        text-align: left;
    }
    
    .intdial-container--land .intdial-widget__call{
        text-align: center;
    } 
    
    .indial-window-landM .intdial-land__col--image img{
        width: 100%;
        height: 350px;
        object-fit: fill;
    }
    
    .intdial-land__row {
        height: auto !important;
    }
    
    .intdial-land__row.intdial-land__row--l{
        height: 100% !important;
    }
    
    .indial-window-landS .intdial-land__col--image img{
        object-fit: fill;
        width: 100%;
    }
    
    .intdial-container--land [class*="button-type-full"]>[class*="widget-icon-"]{
        margin-right: 0;
    }
    ::-webkit-scrollbar {
        display: none;
    }    
    
    .indial-window-landU .intdial-container--widget {
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .intdial-land__row--u{
        border: none;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
    }
    
    .button-type-leeloo {
        border-radius: 7px;
    }

} 

