/*TODO Fonts*/
@font-face {
    font-family: 'Roboto';
    src: url("");
    src: url("roboto-italic-webfont.eot") format('embedded-opentype'),
    url("roboto-italic-webfont.woff2") format('woff2'),
    url("roboto-italic-webfont.woff") format('woff'),
    url("roboto-italic-webfont.ttf") format('truetype');
    font-weight: 400;
	font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url("");
    src: url("roboto-medium-webfont.eot") format('embedded-opentype'),
    url("roboto-medium-webfont.woff2") format('woff2'),
    url("roboto-medium-webfont.woff") format('woff'),
    url("roboto-medium-webfont.ttf") format('truetype');
    font-weight: 500;
	font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url("");
    src: url("roboto-regular-webfont.eot") format('embedded-opentype'),
    url("roboto-regular-webfont.woff2") format('woff2'),
    url("roboto-regular-webfont.woff") format('woff'),
    url("roboto-regular-webfont.ttf") format('truetype');
    font-weight: 400;
	font-display: swap;
    font-style: normal;
}
/*TODO Settings*/
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: black;
}
ul.reset,
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
strong {
    font-weight: 500;
}
em {
    font-style: italic;
}
ins {
    text-decoration: underline;
}
del {
    text-decoration: line-through;
}
p {
    margin: 15px 0;
}
a {
    outline: none;
}
h1,
.h1 {
    color: black;
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    margin: 0 0 40px;
}
h2,
.h2 {
    color: #f84242;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin: 40px 0 15px;
}
h3,
.h3 {
    color: #010101;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    margin: 30px 0 15px;
}
h4,
.h4 {
    color: #010101;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin: 25px 0 15px;
}
h5,
.h5 {
    color: #010101;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin: 20px 0 15px;
}
table {
    width: 100%;
}
table th {
    padding: 15px 25px;
    font-weight: 500;
    color: white;
    background-color: #f84242;
    border: none;
}
table td {
    /*padding: 30px 25px;*/
    padding: 15px;
    border: none;
    border: 1px solid #f84242;
    vertical-align: top;
}
.cardsTable td:first-child {
    /*width: 200px;*/
}
/*TODO Content*/
.content>*:first-child {
    margin-top: 0;
}
.content>*:last-child {
    margin-bottom: 0;
}
.content a,
span.text-full__review--LINk,
div.readMore{
	    cursor: pointer; !important;
    color: #165da7;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
}

.content a:hover,
.content a:focus,
.content span.text-full__review--LINk:hover,
.content span.text-full__review--LINk:focus, {
    color: #398ee7;
    text-decoration: none;
}
.content ul {
    list-style: none;
    padding-left: 0;
    margin: 30px 0;
}
.content ul li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
}
.content ul li:before {
    content: "";
    display: block;
    position: absolute;
    left: 14px;
    top: 6px;
    height: 13px;
    background-color: #ff3d27;
    width: 7px;
    -webkit-transform: skew(-12deg);
    -moz-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    -o-transform: skew(-12deg);
    transform: skew(-12deg);
}
.content ol {
    list-style: none;
    padding-left: 0;
    margin: 30px 0;
    counter-reset: olCounter;
}
.content ol li {
    counter-increment: olCounter;
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
}
.content ol li:before {
    content: counter(olCounter);
    display: block;
    position: absolute;
    left: 14px;
    top: 5px;
    color: #ff3d27;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}
/*TODO Buttons*/
.btn {
    padding: 13px 28px;
    min-width: 195px;
    display: inline-block;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-align: center;
    cursor: pointer;
}
.btnRed {
    background-color: #f84242;
    box-shadow: 2px 2px 10px 0 rgba(11, 20, 29, 0.66);
    border: 1px solid #f84242;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
	outline: none;
}
.btnRed:hover{
    background-color: white;
    color: #f84242;
}
/*TODO Forms*/
.form .title {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 32px;
}
.form .h3 {
    margin-top: 0;
    margin-bottom: 40px;
}
.form .smallText {
    margin-top: -30px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
}
.form label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
}
.formControl {
    height: 35px;
    line-height: 35px;
    background-color: white;
    box-shadow: 2px 2px 10px 0 rgba(11, 20, 29, 0.24);
    padding: 2px 12px;
    width: 100%;
    border: none;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
textarea.formControl {
    height: 135px;
    resize: none;
    padding: 5px 12px;
}
.form .btn {
    margin-top: 15px;
}
/*TODO Classes*/
.clear {
    clear: both;
}
.alignCenter {
    align-items: center;
}
.openNavSidebar {
    display: none;
}
/*TODO Header*/
#header {
    background-color: white;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3);
    padding-top: 18px;
    position: relative;
    z-index: 100;
}
.address,
.phone {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    display: inline-block;
}
.phone{
	display: inline;
}
.phone:hover {
    text-decoration: none;
    color: black;
}
.address .if,
.phone .if {
    font-size: 17px;
    line-height: 17px;
    color: #f84242;
    float: left;
    margin-right: 7px;
}
.phone .if{
	float: none;
}
.logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -6px;
    z-index: 20;
}
/*TODO HeaderNav*/
.navBlock {
    width: 100%;
    position: relative;
}
#headerNav {
    background-color: #165da7;
    -webkit-transform: skew(-12deg);
    -moz-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    -o-transform: skew(-12deg);
    transform: skew(-12deg);
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    margin-bottom: -19px;
}
#headerNav>ul {
    display: flex;
}
#headerNav>ul>li>a {
    width: 150px;
    border-right: 1px solid #0e4e91;
    border-left: 1px solid #1b6fc7;
    text-align: center;
}
#headerNav>ul>li:first-child>a {
    border-left: none;
}
#headerNav>ul>li:last-child>a {
    border-right: none;
}
#headerNav>ul>li:nth-child(4) {
    margin-left: 240px;
}
#headerNav>ul>li>a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
#headerNav>ul>li>a span {
    display: block;
    -webkit-transform: skew(12deg);
    -moz-transform: skew(12deg);
    -ms-transform: skew(12deg);
    -o-transform: skew(12deg);
    transform: skew(12deg);
}
#headerNav>ul>li.active>a,
#headerNav>ul>li:hover>a,
#headerNav>ul>li:focus>a {
    background-color: #0b4580;
    border-color: #0b4580;
}
/*TODO MainSlider*/
.mainSlider,
.mainSlider .sp-mask,
.mainSlider .sp-slide,
.mainSlider .sp-image-container {
    max-width: 100%;
}
.mainSlider .spTitle {
    text-shadow: 2px 2px 5px rgba(11, 20, 29, 0.66);
    color: #fffefe;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
}
.mainSlider .sp-fade-arrows {
    opacity: 0.1;
}
.mainSlider .sp-slides-container:hover .sp-fade-arrows {
    opacity: 1;
}
.mainSlider .sp-buttons {
    position: absolute;
    bottom: 33px;
    width: 100%;
    left: 0;
}
.mainSlider .sp-button {
    width: 14px;
    height: 14px;
    border: 1px solid #f84242;
    box-shadow: 2px 2px 5px rgba(11, 20, 29, 0.66);
}
.mainSlider .sp-button.sp-selected-button {
   /*background-color: f84242;*/
   background-color: white;
}
.mainSlider .sp-button {
    border: 1px solid #fff;
}
/*TODO MainAbout*/
#mainAbout {
    position: relative;
    padding: 80px 0;
    overflow: hidden;
}
#mainAbout:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: -53.5%;
    -webkit-transform: skew(-12deg);
    -moz-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    -o-transform: skew(-12deg);
    transform: skew(-12deg);
    background-color: #f84242;
}
#mainAbout .row {
    flex-wrap: nowrap;
}
#mainAbout .image {
    -webkit-transform: skew(-12deg);
    -moz-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    -o-transform: skew(-12deg);
    transform: skew(-12deg);
    overflow: hidden;
    position: relative;
    left: -63px;
    box-shadow: 2px 2px 10px 0px rgba(11, 20, 29, 0.66);
}
#mainAbout .image img {
    -webkit-transform: skew(12deg);
    -moz-transform: skew(12deg);
    -ms-transform: skew(12deg);
    -o-transform: skew(12deg);
    transform: skew(12deg);
    margin-left: -51px;
}
#mainAbout .content {
    padding-left: 67px;
}
/*TODO mainAdvantages*/
#mainAdvantages {
    padding: 191px 0;
    background: url("advantagesBackground.jpg") 50% 50% no-repeat fixed;
    background-size: cover;
}
#mainAdvantages .item {
    text-align: center;
    width: 20%;
    padding: 0 30px;
}
#mainAdvantages .item .if {
    font-size: 48px;
    line-height: 48px;
    display: block;
    color: #f84242;
    margin-bottom: 25px;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
#mainAdvantages .item .text {
    text-shadow: 1px 1px 5px rgba(11, 20, 29, 0.66);
    color: white;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
#mainAdvantages .item:hover .if {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
#mainAdvantages .item:hover .text {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}
/*TODO mainAdvantages02*/
#mainAdvantages02 {
    padding: 120px 0;
    overflow: hidden;
}
#mainAdvantages02 .item {
    position: relative;
    padding-top: 75px;
    min-height: 441px;
}
#mainAdvantages02 .item .content {
    position: relative;
    z-index: 20;
}
#mainAdvantages02 .item .imageWrap {
    position: absolute;
    z-index: 10;
    max-width: 100%;
    top: 0;
}

#mainAdvantages02 .itemLeft .imageWrap {
	right:0;
}
#mainAdvantages02 .itemRight .imageWrap {
	left:0;
}
#mainAdvantages02 .item .image {
    -webkit-transform: skew(-12deg);
    -moz-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    -o-transform: skew(-12deg);
    transform: skew(-12deg);
    box-shadow: 4px 4px 15px rgba(11, 20, 29, 0.5);
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 765px;
}
#mainAdvantages02 .item.itemLeft .image {
    right: -50px;
}
#mainAdvantages02 .item.itemRight .image {
    left: -50px;
}
#mainAdvantages02 .item .image img {
    -webkit-transform: skew(12deg);
    -moz-transform: skew(12deg);
    -ms-transform: skew(12deg);
    -o-transform: skew(12deg);
    transform: skew(12deg);
    position: relative;
}
#mainAdvantages02 .item.itemLeft .image img {
    left: -51px;
}
#mainAdvantages02 .item.itemRight .image img {
    right: -51px;
}
/*TODO mainMap*/
#mainMap iframe {
    width: 100%;
    height: 630px;
    display: block;
}
#mainMap .form, .form-slide .form{
    padding: 50px 36px;
    background-color: rgba(11, 49, 88, 0.8);
    color: white;
    position: absolute;
    top: 130px;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    overflow: hidden;
    transform-origin: 100% 0;
}
.form-slide .form{
	right: 0;
}
#mainMap .form .h3,
#mainMap .form label,
.form-slide .form .h3,
.form-slide .form label {
    color: white;
}
#mainMap .close {
    position: absolute;
    top: 130px;
    right: 5px;
    width: 30px;
    height: 30px;
    opacity: 1;
    cursor: pointer;
    padding: 5px;
    z-index: 50;
    background-color: transparent;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
#mainMap .close:after,
#mainMap .close:before {
    content: "";
    display: block;
    background-color: white;
    position: absolute;
    height: 2px;
    width: calc(100% - 10px);
    top: 50%;
    left: 5px;
    margin-top: -1px;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
#mainMap .close:after {
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
#mainMap .close:before {
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
#mainMap .form.hide {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
#mainMap .close.active {
    background-color: rgba(11, 49, 88, 0.8);
}
#mainMap .close.active:after {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    transform: rotateZ(0);
}
#mainMap .close.active:before {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    transform: rotateZ(0);
}
/*TODO Footer*/
#footer {
    background-color: #0b3158;
    padding-top: 65px;
    color: white;
}
#footerNav {
    display: flex;
}
#footerNav>ul {
    width: 33.33333333333%;
}
#footerNav>ul>li {
    margin-bottom: 20px;
}
#footerNav>ul>li:last-child {
    margin-bottom: 0;
}
#footerNav>ul>li>a {
    display: block;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#footer .phone a, #footer a.f-address{
    color: white;
    display: inline-block;
}
.footerLogo {
    margin-top: 15px;
}
#footer .address {
    margin-bottom: 15px;
}
#footer .phone .if {
    float: none;
}
#footer .phone,
#footer .address {
    color: white;
}
/*TODO FooterLine*/
#footerLine {
    background-color: #061e37;
    padding: 20px 0;
    color: white;
    margin-top: 50px;
}
#footerLine .copy {
    height: 14px;
    color: #fefefe;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.socials {
    text-align: right;
}
.socials a {
    font-size: 18px;
    line-height: 12px;
    color: white;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.socials a:hover {
    color: #f84242;
}
/*TODO Breadcrumbs*/
#breadcrumbsWrap {
    background-color: #efefef;
    padding: 60px 0 20px;
}
#breadcrumbs>ul>li {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
#breadcrumbs>ul>li>a {
    display: inline-block;
    color: #41a5f2;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
}
#breadcrumbs>ul>li:before {
    content: "/";
    display: inline-block;
    margin: 0 10px;
}
#breadcrumbs>ul>li:first-child:before {
    content: none;
}
/*TODO Main*/
#main {
    padding: 90px 0;
    min-height: calc(100vh - 472px);
    background-repeat: no-repeat;
    background-position: 50% 300px;
}
/*TODO SidebarNav*/
#sidebarNav {
    background-color: white;
    box-shadow: 2px 2px 10px 0 rgba(11, 20, 29, 0.24);
}
#sidebarNav>ul>li {
    position: relative;
    border-bottom: 1px solid #b1b1b1;
}
#sidebarNav>ul>li>a,
#sidebarNav>ul>li>span {
    display: block;
    padding: 14px 25px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    position: relative;
}
/*.fancybox-close-small:after {
content: "";}*/
#sidebarNav>ul>li:last-child {
    border-bottom: 0;
}
#sidebarNav>ul>li.active>span,
#sidebarNav>ul>li:focus>span,
#sidebarNav>ul>li:hover>span,
#sidebarNav>ul>li.active>a,
#sidebarNav>ul>li:focus>a,
#sidebarNav>ul>li:hover>a {
    background-color: #165da7;
    color: white;
}
#sidebarNav>ul>li>a .if,
#sidebarNav>ul>li>span .if {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 14px;
    line-height: 14px;
    margin-top: -7px;
    display: block;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
#sidebarNav>ul>li.active>span .if,
#sidebarNav>ul>li:focus >span.if,
#sidebarNav>ul>li:hover>span .if,
#sidebarNav>ul>li.active>a .if,
#sidebarNav>ul>li:focus>a .if,
#sidebarNav>ul>li:hover>a .if {
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
}
#sidebarNav>ul>li>ul {
    display: none;
}
#sidebarNav>ul>li>ul>li {
    border-bottom: 1px solid #FF0000;
}
#sidebarNav>ul>li>ul>li>a {
    display: block;
    padding: 14px 25px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    background-color: #efefef;
    text-decoration: none;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    padding-left: 35px;
}
#sidebarNav>ul>li>ul>li:last-child {
    border-bottom: 0;
}
#sidebarNav>ul>li>ul>li>a:hover,
#sidebarNav>ul>li>ul>li>a:focus {
    background-color: white;
}
/*TODO historyBlock*/
.historyBlock {
    margin-top: 40px;
}
.historyBlock .item {
    padding-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid #cfcfcf;
    display: flex;
}
.historyBlock .item:first-child {
    border-top: 0;
}
.historyBlock .item:last-child {
    margin-bottom: 0;
}
.historyBlock .item .year {
    width: 195px;
    color: #f84242;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
}
.historyBlock .item .text {
    width: calc(100% - 195px);
}
.historyBlock .item .text>*:first-child {
    margin-top: 0;
}
.historyBlock .item .text>*:last-child {
    margin-bottom: 0;
}
/*TODO commandBlock*/
.commandBlock .item {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin-top: 40px;
    border-bottom: 1px solid #cfcfcf;
    align-items: flex-start;
}
.commandBlock .item:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}
.commandBlock .item .image {
    width: 200px;
    box-shadow: 2px 2px 10px 0 rgba(11, 20, 29, 0.24);
}
.commandBlock .item .image a {
    display: block;
}
.commandBlock .item .caption {
    padding-left: 58px;
    width: calc(100% - 200px);
}
.commandBlock img{
	width: 100%;
}
.commandBlock .item .caption .h2 {
    margin-top: 0;
}
.commandBlock .item .text {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.commandBlock .item .post{
    color: #5c5c5c;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    margin-top: 25px;
}
/*TODO contactsBlock*/
.contactsBlock {
    margin-bottom: 40px;
}
.contactsBlock .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contactsBlock .item .if {
    font-size: 15px;
    color: #f84242;
    margin-right: 10px;
}
.contactsBlock .item strong {
    margin-right: 5px;
}
.contactsBlock .item a {
    text-decoration: none;
    color: black;
}
.managersBlock .item {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #cfcfcf;
}
.managersBlock .item:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
.managersBlock .item .image {
    width: 140px;
    box-shadow: 2px 2px 10px 0 rgba(11, 20, 29, 0.24);
}
.managersBlock .item .caption {
    width: calc(100% - 140px);
    padding-left: 58px;
}
.managersBlock .item .caption .h2 {
    margin-top: 20px;
}
.managersBlock .item .caption .email {
    display: flex;
    align-items: center;
}
.managersBlock .item .caption .email .if {
    margin-right: 15px;
    color: #f84242;
}
#contactsMap {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
#contactsFormWrap {
    background-color: #efefef;
    padding: 90px 0;
}
/*TODO GalleryList*/
.galleryListItem {
    margin-bottom: 40px;
}
.galleryListItem:nth-last-child(3),
.galleryListItem:nth-last-child(3)~.galleryItem {
    margin-bottom: 0;
}
.galleryListItem>a {
    display: block;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-decoration: none;
}
.galleryListItem>a:hover,
.galleryListItem>a:focus {
    box-shadow: 2px 2px 10px 0 rgba(11, 20, 29, 0.24);
    text-decoration: none;
}
.galleryListItem>a span {
    display: block;
}
.galleryListItem>a .image {
    overflow: hidden;
}
.galleryListItem>a .image img {
    width: 100%;
	height: 235px;
}
.galleryListItem>a .caption {
    padding: 20px;
}
.galleryListItem>a .caption .name {
    color: #f84242;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
}
.galleryListItem>a .caption .date {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
/*TODO GalleryItem*/
.galleryItem {
    margin-bottom: 30px;
	    text-align: center;
}
.galleryItem>a {
    display: inline-block;
    height: 171px;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-decoration: none;
    overflow: hidden;
}
.galleryItem>a:hover,
.galleryItem>a:focus {
    box-shadow: 2px 2px 10px 0 rgba(11, 20, 29, 0.44);
}
.galleryItem>a img {
    min-height: 100%;
    max-width: initial;
	/*height: 171px;*/
	height: auto;
	width: 100%;
}
.galleryItem:nth-last-child(4),
.galleryItem:nth-last-child(4)~.galleryItem {
    margin-bottom: 0;
}
/*TODO scheduleBlock*/
.scheduleBlock .item {
    -webkit-transform: skew(-12deg);
    -moz-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    -o-transform: skew(-12deg);
    transform: skew(-12deg);
    background-color: white;
    box-shadow: 2px 2px 10px 0 rgba(11, 20, 29, 0.24);
    margin-bottom: 40px;
}
.scheduleBlock .item:last-child {
    margin-bottom: 0;
}
.scheduleBlock .item .caption {
    -webkit-transform: skew(12deg);
    -moz-transform: skew(12deg);
    -ms-transform: skew(12deg);
    -o-transform: skew(12deg);
    transform: skew(12deg);
    padding: 25px 70px 32px;
}
.scheduleBlock .item .caption .title {
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 25px;
}
.scheduleBlock .item .caption .doc {
    padding: 20px 0 20px 68px;
    background: url("") 0 50% no-repeat;
}
/*TODO Testimonials*/
.testimonialsBlock .item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #cfcfcf;
}
.testimonialsBlock .item:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}
.testimonialsBlock .item .image {
    width: 90px;
    height: 90px;
    box-shadow: 2px 2px 10px 0 rgba(11, 20, 29, 0.24);
}
.testimonialsBlock .item .caption {
    width: calc(100% - 90px);
    padding-left: 40px;
    padding-top: 20px;
}
.testimonialsBlock .item .date {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
.testimonialsBlock .item.noImage .caption {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
}
.testimonialsBlock .item .caption .h2 {
    margin-top: 0;
    line-height: 30px;
    margin-bottom: 10px;
}
.testimonialsBlock .item .text {
    margin-top: 30px;
    width: 100%;
}
.testimonialsBlock .item .readMore {
    margin-top: 20px;
    width: 100%;
}
/*TODO News*/
.newsBlock .item {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #cfcfcf;
}
.newsBlock .item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.newsBlock .item .caption .h2 {
    margin-top: 0;
    margin-bottom: 5px;
}
.newsBlock .item .caption .date {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
.newsBlock .item .text {
    margin-top: 30px;
}
.newsBlock .item .readMore {
    margin-top: 20px;
}
/*TODO Pagination*/
#pagination {
    margin-top: 40px;
}
#pagination>ul>li {
    display: inline-block;
    margin-left: 20px;
}
#pagination>ul>li:first-child {
    margin-left: 0;
}
#pagination>ul>li>a, span.page-numbers.current{
    display: block;
    padding: 9px 12px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    background-color: #165da7;
    box-shadow: 2px 2px 10px 0 rgba(11, 20, 29, 0.24);
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-decoration: none;
    -webkit-transform: skew(-12deg);
    -moz-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    -o-transform: skew(-12deg);
    transform: skew(-12deg);
}
span.page-numbers.current, span.page-numbers.current:hover, span.page-numbers.current:focus{
    background-color: white;
    color: black;
}
#pagination>ul>li.active>a,
#pagination>ul>li:hover>a,
#pagination>ul>li:focus>a {
    background-color: white;
    color: black;
}
#pagination>ul>li>a>span {
    display: block;
    -webkit-transform: skew(12deg);
    -moz-transform: skew(12deg);
    -ms-transform: skew(12deg);
    -o-transform: skew(12deg);
    transform: skew(12deg);
}
#pagination>ul>li>a .if.next {
    font-size: 10px;
    margin-left: 10px;
}
#pagination>ul>li>a .if.prev {
    font-size: 10px;
    margin-right: 10px;
}
.block__phone {
	border: 1px dashed #ff3d27;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}
a.b__phone-link {
    font-size: 24px;
    text-decoration: none;
    color: #ff3d27;
}
.b__phone-desc {
    font-size: 16px;
    margin-top: 20px;
}
.trainingHome{
	border: 2px solid #165da7;
    text-align: center;
    padding-bottom: 20px;
	margin: 30px 0px;
}
.trainingHome .h2{
	margin-top: 20px;
}
.trainingHome p{
	font-style: italic;
}
/*TODO Responsive*/
/*TODO Responsive LG*/
@media (min-width: 1200px) and (max-width: 1400px) {
	#mainAbout .image{
		max-width:580px;
	}
	#mainAbout .image img{
	
	max-width: 120% !important;}
	#mainAbout .row{
		justify-content:flex-end !important; 
	}
	#mainAbout .content {
    padding-left: 30px;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#mainAbout .image{
		max-width:440px;
		max-height:350px;
	}
	#mainAbout .image img{
	
	max-width: 125% !important;
	height:100%;}
	#mainAbout .row{
		justify-content:flex-end !important; 
	}
	#mainAbout .content {
    padding-left: 10px;
}
}


@media (min-width: 1351px) and (max-width: 1750px) {
	#mainAdvantages02 .item .image{
		width:580px;
	}
	#mainAdvantages02 .item .image img{
		max-width:100%;
	}
	#mainAdvantages02 .item .imageWrap {
		top:20%;
	}
}
@media (min-width: 1200px) and (max-width: 1350px) {
	#mainAdvantages02 .item .image{
		width:510px;
	}
	#mainAdvantages02 .item .image img{
		max-width:100%;
	}
	#mainAdvantages02 .item .imageWrap {
		top:20%;
	}
}
@media (max-width: 1199px) {
    img {
        max-width: 100%;
    }
    .logo {
        top: -4px;
        width: 265px;
    }
    .logo img {
        max-width: 100%;
    }
    #headerNav>ul>li:nth-child(4) {
        margin-left: 230px;
    }
    #headerNav>ul>li>a {
        width: 120px;
        padding: 12px 5px;
    }
    #mainAbout .content {
        padding-left: 0;
    }
    #mainAdvantages02 .item.itemRight .image {
        left: 0;
    }
    #mainAdvantages02 .item.itemLeft .image {
        right: 0;
    }
    #mainAbout .image img {
        max-width: initial;
    }
		#mainAdvantages {
        padding: 70px 0 0;
    }
    #mainAdvantages .row {
        justify-content: center;
    }
    #mainAdvantages .item {
        margin-bottom: 70px;
        width: 33.333333%;
    }
    #mainAdvantages02 {
        padding: 70px 0;
    }
    #mainAdvantages02 .item {
        padding-top: 0;
        margin-top: 40px;
        min-height: initial;
    }
    #mainAdvantages02 .item .imageWrap {
        position: static;
        width: auto;
        margin-left: 0;
        margin-top: 40px;
        text-align: center;
    }
    #mainAdvantages02 .item .imageWrap .image {
        position: static;
        width: auto;
        -webkit-transform: skew(0);
        -moz-transform: skew(0);
        -ms-transform: skew(0);
        -o-transform: skew(0);
        transform: skew(0);
        display: inline-block;
        margin-bottom: 70px;
    }
    #mainAdvantages02 .item:last-child .imageWrap .image {
        margin-bottom: 0;
    }
    #mainAdvantages02 .item .imageWrap .image img {
        -webkit-transform: skew(0);
        -moz-transform: skew(0);
        -ms-transform: skew(0);
        -o-transform: skew(0);
        transform: skew(0);
    }
    #mainAdvantages02 .item.itemRight .image img {
        right: auto;
    }
    #mainAdvantages02 .item.itemLeft .image img {
        left: auto;
    }
}
/*TODO Responsive MD*/
@media (max-width: 991px) {
    .logo {
        position: static;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    #headerNav {
        -webkit-transform: skew(0);
        -moz-transform: skew(0);
        -ms-transform: skew(0);
        -o-transform: skew(0);
        transform: skew(0);
        margin-bottom: 0;
        width: 100%;
    }
    #headerNav>ul {
        display: none;
        width: 100%;
        margin-bottom: -19px;
    }
    #headerNav>ul>li:nth-child(4) {
        margin-left: 0;
    }
    #headerNav>ul>li>a span {
        -webkit-transform: skew(0);
        -moz-transform: skew(0);
        -ms-transform: skew(0);
        -o-transform: skew(0);
        transform: skew(0);
    }
    #headerNav>ul>li {
        display: block;
        width: 100%;
    }
    #headerNav>ul>li>a {
        width: auto;
        padding: 12px 25px;
        text-align: left;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #0e4e91;
        border-top: 1px solid #1b6fc7;
    }
    #headerNav>ul>li:first-child>a {
        border-top: 0;
    }
    #headerNav>ul>li:last-child>a {
        border-bottom: 0;
    }
    .openNav {
        display: block;
        width: 30px;
        height: 30px;
        background: url("navIcon.png") 50% 50% no-repeat;
        position: absolute;
        right: 15px;
        top: 20px;
        cursor: pointer;
    }
    .logo {
        width: 180px;
        display: block;
        margin-top: 10px;
    }
    #mainAbout .image {
        left: 0;
        -webkit-transform: skew(0);
        -moz-transform: skew(0);
        -ms-transform: skew(0);
        -o-transform: skew(0);
        transform: skew(0);
        margin-top: 40px;
        order: 2;
    }
    #mainAbout .image img {
        -webkit-transform: skew(0);
        -moz-transform: skew(0);
        -ms-transform: skew(0);
        -o-transform: skew(0);
        transform: skew(0);
        margin: 0;
        max-width: 100%;
    }
    #mainAbout:before {
        content: none;
    }
    #mainAbout .row {
        flex-wrap: wrap;
    }
    #mainAbout .image {
        width: 100%;
    }
    
    #footerNav {
        text-align: center;
        margin-bottom: 30px;
    }
    .footerLogo {
        margin-top: 0;
    }
    #mainAdvantages02 .item {
        margin-top: 30px;
    }
    #mainAdvantages02 .item .imageWrap .image {
        margin-bottom: 40px;
    }
    .openNavSidebar {
        display: block;
        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        padding: 14px 60px 14px 25px;
        background: #165da7 url("") calc(100% - 25px) 50% no-repeat;
        margin-bottom: 5px;
    }
    #sidebarNav {
        margin-bottom: 40px;
    }
    #sidebarNav>ul {
        display: none;
    }
    #sidebarNav>ul>li>ul {
        display: block;
    }
    #sidebarNav>ul>li>a .if,
    #sidebarNav>ul>li>span .if {
        display: none;
    }
    #main {
        background: none !important;
    }
    #contactsMap {
        margin-top: 40px;
        height: 350px;
    }
    .galleryListItem:nth-last-child(3),
    .galleryListItem:nth-last-child(3)~.galleryItem {
        margin-bottom: 40px;
    }
    .galleryListItem:nth-last-child(2),
    .galleryListItem:nth-last-child(2)~.galleryItem {
        margin-bottom: 0;
    }
    .galleryItem:nth-last-child(4),
    .galleryItem:nth-last-child(4)~.galleryItem {
        margin-bottom: 30px;
    }
    .galleryItem:nth-last-child(3),
    .galleryItem:nth-last-child(3)~.galleryItem {
        margin-bottom: 0;
    }
}
/*TODO Responsive SM*/
@media (max-width: 767px) {
    .mainSlider .spTitle {
        font-size: 34px;
        line-height: 40px;
    }
    #mainMap .form {
        width: 100%;
        left: 0;
    }
    .footerLogo {
        margin-bottom: 30px;
    }
    #footerLine,
    .socials {
        text-align: center;
    }
    .copy {
        margin-bottom: 15px;
    }
    #mainAdvantages .item {
        width: 50%;
    }
    #mainMap .close {
        right: 0;
    }
    #breadcrumbsWrap {
        display: none;
    }
    #main,
    #contactsFormWrap {
        padding: 40px 0;
    }
    .galleryListItem:nth-last-child(2),
    .galleryListItem:nth-last-child(2)~.galleryItem {
        margin-bottom: 40px;
    }
    .galleryListItem:last-child {
        margin-bottom: 0;
    }
    .galleryItem:nth-last-child(3),
    .galleryItem:nth-last-child(3)~.galleryItem {
        margin-bottom: 30px;
    }
    .galleryItem:nth-last-child(2),
    .galleryItem:nth-last-child(2)~.galleryItem {
        margin-bottom: 0;
    }
    .scheduleBlock .item {
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        transform: skew(0deg);
    }
    .scheduleBlock .item .caption {
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        transform: skew(0deg);
        padding: 25px;
    }
    .tableResponsive {
        max-width: 100%;
        overflow-y: scroll;
    }
}
/*TODO Responsive XS*/
@media (max-width: 575px) {
    h1, .h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    h2,
    .h2 {
        color: #f84242;
        font-size: 26px;
        font-weight: 500;
        line-height: 36px;
        margin: 30px 0 15px;
    }
    h3,
    .h3 {
        color: #010101;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        margin: 25px 0 15px;
    }
    h4,
    .h4 {
        color: #010101;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        margin: 20px 0 15px;
    }
    #footerNav {
        display: none;
    }
    .mainSlider .spTitle {
        max-width: 280px;
        font-size: 24px;
        line-height: 30px;
    }
    #mainAbout {
        padding: 50px 0;
    }
    #mainAdvantages .item {
        width: 100%;
    }
    #mainAdvantages02 {
        padding: 50px 0;
    }
    #mainAdvantages02 .item {
        margin-top: 20px;
    }
    #mainAdvantages02 .item .imageWrap {
        margin-top: 20px;
    }
    #mainAdvantages02 .item .imageWrap .image {
        margin-bottom: 20px;
    }
    .historyBlock .item {
        flex-wrap: wrap;
    }
    .historyBlock .item .year {
        margin-bottom: 15px;
    }
    .historyBlock .item .year,
    .historyBlock .item .text {
        width: 100%;
    }
    .commandBlock .item .image {
        margin-bottom: 25px;
    }
    .commandBlock .item .caption {
        padding-left: 0;
        width: 100%;
    }
    .managersBlock .item .caption {
        width: 100%;
        padding-left: 0;
    }
    .contactsBlock .item {
        flex-wrap: wrap;
    }
    .testimonialsBlock .item .caption {
        width: 100%;
        padding-left: 0;
    }
}
/*---------------------------- Other ----------------------------*\
.other {

	Время и тип анимации
	
	-moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
	
	Маска для маштаба изображения с скругленными углами в контейнере
	
	-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
\*---------------------------- Other ----------------------------*/


.schedule{
	/*margin: 20px;*/
}

.schedule td{
	border: none;
    padding: 0 2px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
tr.tr-even:nth-child(-n+40) {
    border-top: 1px solid #a2a2a2;
}
.schedule tr:nth-child(-n+39) td{
	border-left: 1px solid #a2a2a2;
	border-right: 1px solid #a2a2a2;
}
.schedule tr:nth-child(-n+3) td{
	border-top: 1px solid #a2a2a2;
}
/*.schedule .td-first{
	border: 1px solid #a2a2a2;
}
.schedule tr.tr-even{
    border-bottom: 1px solid #a2a2a2;
}
.schedule tr:last-child td {
    border: none;
}*/
/*.pink{background: #FF33CC}
.beige{background: #FCD5B4}
.red{background: #FF0000}
.green{background: #92D050}
.blue{background: #99CCFF}
.yellow{background: #FFFF00}*/
@media (max-width:991px){
.table-responsive{
	overflow-x: scroll;
}
}
.switcher{
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 50px;
}
.switch-item {
	width: 49%;
}
.switch-item a {
    /* background: #165da7; */
    color: #165da7;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    text-align: center;
    border: 2px solid #165da7;
    font-weight: 500;
	transition: 0.3s;
}
.switch-item a.active, .switch-item a:hover{
	color: #fff;
	background: #165da7;
}
@media (max-width: 767px){
	.switcher{
		flex-direction: column;
	}
	.switch-item{
		width: 100%;
	}
	.switch-item a {
		margin: 10px 0;
	}
}
.ob-fit-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	    padding: 10px 0;
}
.scheduleBlock .galleryItem {
    margin-bottom: 30px !important;
}

.form-slide .form{
    padding: 50px 36px;
    background-color: rgba(11, 49, 88, 0.8);
    color: white;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    overflow: hidden;
    transform-origin: 100% 0;
    width: 100%;
    max-width: 400px;
    margin-top: -50px; 
}
.form-slide .form .h3,
.form-slide .form label {
    color: white;
}
.form-slide .form label{
	text-align: left;
}
.slide-content {
    display: flex;
	align-items: center;
    flex-wrap: wrap;
	width: 1150px;
	height: 590px;
}
.txt-slide {
    flex-basis: 60%;
}
.form-slide {
    flex-basis: 40%;
}
#callback,
#cardorder{
	width: 100%;
	max-width: 400px;
	/*background-color: rgba(11, 49, 88, 0.8);*/
}
.cardsTable .h2{
	margin: 0 0 0;
}
.link-card {
    text-align: center;
        margin: 20px 0 0;
}
.link-card a {
    font-size: 20px;
    text-decoration: none;
	color: white;
}
.cardsTable ul li{
	margin-bottom: 0px;
}
.cardsTable ul{
	margin: 10px 0;
}
.cardsTable p{
	margin: 0 0;
}
.cardsTable td{
	vertical-align: middle;
	padding: 10px;
	/*border: 1px solid #f8424200;*/
}
.cardsTable tr:nth-child(2n+1) {
    border-top: 3px solid #f84242;
    border-left: 3px solid #f84242;
    border-right: 3px solid #f84242;
}
.cardsTable tr:nth-child(2n){
	border-left: 3px solid #f84242;
}
.cardsTable tr:last-child, .cardsTable tr:nth-child(29) td:last-child{
	border-bottom: 3px solid #f84242;
}
.img-card{
	text-align: center;
}
.img-card img {
    width: 100%;
    max-width: 300px;
}
.cardsTable p.h2{
	color: #020102;
    font-size: 26px;
}
table.cardsTable td,table.cardsTable tr{
	border: none !important;
}
@media(max-width:1400px){
	#mainAbout .image img{
		margin-left: -70px;
	}
}
@media(max-width:1199px){
	.slide-content {
		width: 100%;
		min-width: 1000px;
	}
	.txt-slide {
		flex-basis: 55%;
	}
	.form-slide {
		flex-basis: 45%;
	}
	#mainAbout .image img{
		height: auto;
		margin-left: -75px;
	}
}
@media(max-width:1024px){
	.slide-content {
		width: 100%;
		min-width: 960px;
	}
}
@media(max-width:991px){
	#mainAbout .image img{
		/*height: 100%;*/
		margin-left: 0px;
	}
}
.link-card a{
	color: #fff !important;
	border-radius: 8px;
}
.link-card a:hover{
	color: #000 !important;
}
.img-card img {
    border-radius: 8px;
}
.cardsTable td {
    vertical-align: top;
}
.cardsTable tr:nth-child(2n+1) td {
    padding-top: 50px;
}
.img-card {
    margin-top: 10px;
}
.form-slide  .wpcf7-not-valid-tip, #mainMap .wpcf7-not-valid-tip{
	font-size: 14px;
}
.form-slide .wpcf7-mail-sent-ok, .form-slide .wpcf7-validation-errors, #mainMap .wpcf7-mail-sent-ok, #mainMap .wpcf7-validation-errors{
    font-size: 14px;
    line-height: 20px;
}
.form-slide label{
	margin-bottom: 10px;
}
#mainMap .form{
	z-index: 10;
}
#headerNav > ul > li > ul ,#headerNav > ul > li > ul  > li > ul{
	display: none;
}
@media(min-width:992px){
	#headerNav > ul > li,#headerNav > ul > li > ul > li{
		position: relative;
	}
	#headerNav > ul > li > ul ,#headerNav > ul > li > ul  > li > ul{
		background: #fff;
		width: 250px;
		box-shadow: 2px 2px 10px 0 rgba(11, 20, 29, 0.24);
	}
	#headerNav > ul > li > ul > li > a,
	#headerNav > ul > li > ul > li > span,
	#headerNav > ul > li > ul > li > ul > li > a
	{
		display: block;
		padding: 12px 20px;
		color: black;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		text-decoration: none;
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		position: relative;
	}
	#headerNav > ul > li > ul > li > a:hover,
	#headerNav > ul > li > ul > li > span:hover,
	#headerNav > ul > li > ul > li > ul > li > a:hover
	{
		background-color: #165da7;
		color: white;
	}
	#headerNav > ul > li:hover > ul{
		display: block;
		position: absolute;
		left: 0;
	}
	#headerNav > ul > li > ul > li:hover ul{
		display: block;
		position: absolute;
		left: 250px;
		top: 0;
	}
	#headerNav > ul > li > ul > li > ul > li:hover  ul{
		display: block;
	}
}
@media(max-width:992px){
	#headerNav > ul > li > ul ,#headerNav > ul > li > ul  > li > ul{
		background: #fff;
	}
	#headerNav > ul > li > ul > li > a,
	#headerNav > ul > li > ul > li > span,
	#headerNav > ul > li > ul > li > ul > li > a
	{
		display: block;
		padding: 12px 20px;
		color: black;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		text-decoration: none;
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		position: relative;
	}
	#headerNav > ul > li > ul > li > a:hover,
	#headerNav > ul > li > ul > li > span:hover,
	#headerNav > ul > li > ul > li > ul > li > a:hover
	{
		background-color: #165da7;
		color: white;
	}
}
@media(max-width:991px){
	
}
.btn-download a{
    background: #165da7;
    color: #fff;
    text-decoration: none;
    padding: 10px 60px;
    max-width: 100%;
    text-align: center;
    border: 2px solid #165da7;
    font-weight: 500;
    transition: 0.3s;
}
.btn-download a:hover{
	color: #165da7;
	background: #fff;
}
.btn-download{
	text-align: center;
	margin: 40px 0 0;
}
.soc-header a{
	color: #f84242;
}
.soc-header{
    display: inline-block;
    margin-left: 80px;
}
.soc-header a:hover{
	opacity: 0.9;
}
/**/
.detailPage .galleryItem{
	
}
.detailPage a {
    max-height: 400px;
    height: 100%;
	width: 100%;
}
.detailPage img {
    object-fit: cover;
}
/**/
.h2-card{
	margin-top: 0;
}
.bottom-50{
	margin-bottom: 50px;
}
.top-50{
	margin-top: 50px;
}
.page-cards p {
    margin: 5px 0;
}
.page-cards li {
   margin-bottom: 5px !important;
}
.page-cards ul{
       margin: 10px 0;
}
.fl-phone .fa-envelope, .icon-form .if-icon-phone{
    font-size: 17px;
    line-height: 17px;
    color: #f84242;
    margin-right: 0;
	cursor: pointer;
}
#footer .fa-envelope{
    font-size: 17px;
    line-height: 17px;
    color: #f84242;
    margin-right: 7px;
}
.fl-phone > div {
    display: inline;
    padding: 0 5px;
}
.main-title h2{
    color: black;
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    margin: 0 0 40px;
	padding: 0;
}
.b-img{
	margin: 0 0 20px;
}
.b-img img{
	width: 100%;
}
@media(max-width:1199px){
	.soc-header{
		margin-left: 10px;
	}
}
@media(max-width:991px){
	.soc-header a:first-child{
		margin-left: 0;
	}
	.soc-header {
		margin-left: 0;
		margin-top: 15px;
	}
	.fl-phone > div {
		display: block;
		padding: 0;
	}
	.fl-phone > div:first-child{
		margin-bottom: 15px;
	}
}
.btn__form-popup{
	display: none;
	margin-top: 40px;
}
@media(max-width:767px){
	.soc-header {
		margin-left: 10px;
	}
	.btn__form-popup{
		display: block;
	}
	.fl-phone > div {
		display: inline;
		padding: 0 5px;
	}
	.fl-phone > div:first-child {
		margin-bottom: 15px;
	}
}
@media(max-width:575px){
	.soc-header {
		margin-left: 0;
		display: block;
		text-align: center;
		margin: 15px 0;
	}
}
@media(max-width:480px){
		.fl-phone > div {
		display: block;
		padding: 0;
	}
.fl-phone > div:first-child {
    margin-bottom: 10px;
}
}
@media(max-width:400px){
	#mainSliderWrap .sp-image-container,
	#mainSliderWrap .sp-mask,
	#mainSliderWrap .sp-slide{
		height: 290px !important;
	}

}

.programms .item .img-container img {
    box-shadow: -15px -15px 0px 0px #165da7;
}

.programms .item .img-container img:hover {
    box-shadow: -15px -15px 0px 0px #ff280e;
}

.programms .item .title {
    font-size: 24px;
    color: #165da7;
    margin-top: 10px;
    line-height: 24px;
}

a.button-pers.podrobnii {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #165da7;
    border-radius: 25px;
    text-align: center;
}

a.button-pers.podrobnii:hover {
    transition: background-color .3s;
    background-color: #ff280e;
}

.programms .item .hidden-block {
    display: none;

}

.active-block {
    display: block !important;
    position: fixed;
    top: 25vh;
    left: 25%;
    width: 50%;
    min-height: 25vh;
    max-height: 50vh;
    z-index: 999999;
    background-color: #fff;
    box-shadow: 0 0 20px 8px grey;
    border-radius: 5px;
}



.close-popup-form {
    cursor: pointer;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 35px;
    height: 35px;
    line-height: 30px;
    color: #555555;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(22, 22, 22, .3), inset 0 0 0 2px rgba(246, 246, 246, .5);
    border: solid 1px #a8adb3;
    background-color: #b7bec5;
    background-image: -webkit-linear-gradient(bottom, #b7bec5, #e4e8ed);
    background-image: linear-gradient(to top, #b7bec5, #e4e8ed);
}



.hidden-text-container {
    width: 100%;
    max-height: 50vh;
    overflow: auto;
    box-sizing: border-box;
    padding: 10px 20px;
}

.hidden-text-container h3{
    margin: 0;
}

.modal-window-shadow {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    display: none;
    width: 100%;
    height: 100vh;
}

.active-modal {
    display: block;
    z-index: 999998;
}

.attention{
	margin-left: 150px;
	border-bottom: 1px solid #f84242;
	float: right;
}
@media only screen and (max-width: 1024px) {
    .active-block {
        max-height: 35vh;
    }
    .hidden-text-container {
        max-height: 35vh;
    }
	.attention{
		margin-left: 30px; 
	}
}

@media only screen and (max-width: 768px) {
    .active-block {
        max-height: 50vh;
    }
    .hidden-text-container {
        max-height: 50vh;
    }
	.attention{
		margin-left: 0px; 
	}
}

@media only screen and (max-width: 500px) {
    .active-block {
       max-height: 90vh;
        top: 5vh;
        left: 10%;
        width: 80%;
    }
    .hidden-text-container {
        max-height: 90vh;
    }
}

@media only screen and (max-width: 768px) {
    .programms .item {
        text-align: center;
    }
}